.padd-top{
    padding-top: 60px;
}
.ct{
    text-align: center;
}
.sqblock{
    padding: 2.5% 5% !important;
}
.mg_bot{
    margin-bottom: 10px;
}
.n_v{
    opacity: 0;
}
.imp_{
    padding: 7px;
    color:#ffffff;
    background: red;
    border-radius: 5px;
    box-shadow: #ccc 0px 0px 1px .3px;
    font-size: 10px;
}